# Workflow file adapted from <https://github.com/ACrazyTown/flixel-waveform/blob/main/.github/workflows/pages.yml>

name: Deploy Megadraft to Github Pages

on:
  push:
    branches:
        - master
  workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4
            - uses: krdlab/setup-haxe@v1
              with:
                haxe-version: 4.3.6

            - name: Install dependencies
              run: |
                haxelib install lime --quiet
                haxelib install openfl --quiet
                haxelib install flixel --quiet
                haxelib install flixel-ui --quiet
                haxelib install flixel-addons --quiet
                haxelib install hxcpp --quiet

            - name: Build Megadraft
              run: |
                haxelib run lime build html5

            - name: Deploy Megadraft
              uses: peaceiris/actions-gh-pages@v4
              if: github.ref == 'refs/heads/dev'
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./export/html5/bin